<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- favicon -->
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
  <!-- link google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
  <!-- link bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- link stylesheet -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <% if (title === 'Edit Trip') { %>
    <!-- link javascript -->
    <script defer src="/javascripts/app.js"></script>
  <% }    %>
</head>

<body>
  <header class="big-header">
      
    <div class="row d-flex justify-content-end">
      <% if (user) { %>
        <div class="text-center my-3">
          <p class="mx-3" style="display:inline"><i>Welcome</i> <%= user.name %></p>
          <img src="<%= user.avatar %>" class="rounded-circle thumbnail-pic" alt="Google Profile Picture">
        </div>
        <form action="/logout">
          <button class="btn btn-primary log-in-out-button m-3">Log Out</button>
        </form>
      <% } else { %>
        <form action="/auth/google">
          <button class="btn btn-primary log-in-out-button m-3">Login with Google</button>
        </form>
      <% } %>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link 
          <% if (title === 'Users') { %>
            active
          <% } %>
          " href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link 
          <% if (title === 'Your Trips') { %>
            active
          <% } %>
          " href="/trips">Your Trips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link 
          <% if (title === 'New Trip') { %>
            active
          <% } %>
          " href="/trips/new">+ Add Trip</a>
        </li>
    </ul>
      
  </header>

  <header class="small-header">
      
      <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/trips">Your Trips</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/trips/new">+ Add Trip</a>
          </li>
          <% if (user) { %>
            <form action="/logout">
              <button class="btn btn-primary log-in-out-button m-3">Log Out</button>
              <img src="<%= user.avatar %>" class="rounded-circle thumbnail-pic my-3" alt="Google Profile Picture">
            </form>
          <% } else { %>
            <form action="/auth/google">
              <button class="btn btn-primary log-in-out-button m-3">Login with Google</button>
            </form>
          <% } %>
      </ul>
      <hr>
  </header>
  <div class="fluid-container show-container mb-sm-5 <% if (title !== 'Your Trips') { %> justify-content-center <% } %>">
  <% if (title !== 'Users') { %>
    <div class="row d-flex justify-content-left w-100 mx-3 my-5">
      <h1 class="page-header"><i><%= title %></i></h1>
    </div>
  <% } %>