<%- include ../partials/header.ejs %>

<div class="container">
    <a href="/trips/<%= trip._id %>" class="btn btn-primary">Go Back</a>
</div>
<div class="container py-2">
    <hr>
    <h3 class="mb-5">Edit trip details: <i style="color:green"><%=  trip.title%></i></h3>
    <form id="add-location-form" method="POST" action="/trips/<%= trip._id %>?_method=PUT">
        <div class="form-group">
            <label for="trip-title">Trip title:</label>
            <input type="text" class="form-control" id="trip-title" 
            name="title" value="<%= trip.title %>" required>
        </div>
        <div class="form-group">
            <label for="trip-description">Trip description:</label>
            <input type="text" class="form-control" id="trip-description" 
            name="description" value="<%= trip.description %>"  required>
        </div>
        <div class="form-group">
            <label for="trip-start-date">Trip start date:</label>
            <% let date = new Date(trip.startDate) %>
            <% date.setMinutes(date.getMinutes() - date.getTimezoneOffset()) %>
            <% const startDateString = date.toISOString().slice(0,16); %>
            <input type="datetime-local" class="form-control" id="trip-start-date" name="startDate" 
            value="<%= startDateString %>"
            min="2015-01-01T00:00" max="2050-01-01T00:00" required>
        </div>
        <div class="form-group">
            <label for="trip-end-date">Trip end date:</label>
            <div class="form-check form-check-inline mx-3">
                <input class="form-check-input" type="checkbox" 
                name="location-radio" id="end-date-checkbox">
                <label class="form-check-label" for="end-date-checkbox">No end date yet</label>
            </div>
                <% let endDateString; %>
                <% if (trip.endDate) { %>
                    <% let dateTwo = new Date(trip.endDate) %>
                    <% dateTwo.setMinutes(dateTwo.getMinutes() - dateTwo.getTimezoneOffset()) %>
                    <% endDateString = dateTwo.toISOString().slice(0,16); %>
                <% } %>
            <input type="datetime-local" class="form-control" id="trip-end-date" name="endDate" 
            value="<% if (endDateString) { %><%= endDateString %><% } %>" 
            min="2015-01-01T00:00" max="2050-01-01T00:00">
        </div>
        <div class="form-group">
            <label for="classification">Example select</label>
            <select class="form-control" id="classification" name="classification">
            <% classifications.forEach(function (classification) { %>
                <option
                    <% if (trip.classification === classification) { %>
                        <%= "selected" %>
                    <% } %>
                ><%= classification %></option>
            <% }); %>
            </select>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" 
                name="location-radio" id="current-radio">
                <label class="form-check-label" for="current-radio">Current location</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" 
                name="location-radio" id="custom-radio" checked>
                <label class="form-check-label" for="custom-radio">Custom location</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" 
                name="location-radio" id="skip-radio">
                <label class="form-check-label" for="skip-radio">Skip</label>
            </div>
        </div>
        <div class="form-group" id="location-input">
            <label for="trip-location">Enter location coordinates (lattitude and longitude coordinates):</label>
            <input type="text" class="form-control" id="trip-location" 
            name="location" value="<%= trip.location %>">
        </div>
        <button type="submit" class="btn btn-primary">Update Trip</button>
    </form>
</div>
<div class="container">
    <hr>
    <div class="card" style="max-width: 18rem;">
        <div class="card-body">
            <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
                <a href="" class="m-1 m-sm-3 link-danger" id="delete-link">DELETE TRIP</a>
                <div id="delete-verification" style="display:none">
                    <hr>
                    <p>Are you sure you want to delete this trip?</p>
                    <button type="submit" class="btn btn-danger m-1 m-sm-3 w-75">DELETE TRIP</a>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include ../partials/footer.ejs %>