<%- include ../partials/header.ejs %>

    <% if (trips.length > 0) { %>
        <% trips.forEach(function(trip) { %>
            <div class="card m-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= trip.title %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= trip.description %></h6>
                    <p class="card-text">
                        <% if (trip.startDate) { %>
                            <%= trip.startDate.toLocaleString([], timeOptionsOne) %> 
                        <% } %>
                            - 
                        <% if (trip.endDate) { %>
                            <%= trip.endDate.toLocaleString([], timeOptionsOne) %>
                        <% } else { %>
                            Present
                        <% } %>
                    </p>
                    <p>
                        <% if (trip.active) { %>
                            <span style="color:green">
                                <i>Active</i>
                            </span> 
                        <% } else { %>
                            <span style="color:red">
                                <i>Finished</i>
                            </span> 
                        <% } %>
                    </p>
                    <a href="/trips/<%= trip._id %>" class="btn btn-primary">See trip</a>
                </div>
            </div>
        <% }); %>
    <% } else { %>
        <div class="row d-flex align-items-center mx-3">
            <p class="m-3">You don't have any trips yet!</p>
            <a class="btn btn-primary" href="/trips/new">+ Add Trip</a>
        </div>
    <% } %>

<%- include ../partials/footer.ejs %>