<%- include ../partials/header.ejs %>

<div class="container mb-5">
    <h3 class="mb-5">Add a new trip:</h3>
    <form id="trip-details-form" method="POST" action="/trips">
        <div class="form-group">
          <label for="trip-title">Trip title:</label>
          <input type="text" class="form-control" id="trip-title" name="title" placeholder="Hiking" required>
        </div>
        <div class="form-group">
          <label for="trip-description">Trip description:</label>
          <input type="text" class="form-control" id="trip-description" name="description" placeholder="My hiking trip..." required>
        </div>
        <div class="form-group">
          <label for="trip-date">Trip start date (default will be today's date):</label>
          <input type="datetime-local" class="form-control" id="trip-date" name="startDate"  min="2015-06-07T00:00" max="2050-06-14T00:00" required>
        </div>
        <div class="form-group">
          <label for="classification">Trip classification:</label>
          <select class="form-control" id="classification" name="classification">
            <% classifications.forEach(function (classification) { %>
                <option><%= classification %></option>
            <% }); %>
          </select>
        </div>
        <div class="form-group">
          <label for="collaborators">Collaborators:</label>
          <select class="custom-select" multiple name="collaborators">
            <% allUsers.forEach(function (user) { %>
              <% if (mainUser._id.toString() !== user._id.toString()) { %>
                <option id=<%= user._id%>><%= user.name %></option>
              <% } %>
            <% }) %>
          </select>
          <p>Select multiple with &#8984; (Mac) or Ctrl (Windows)</p>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="location-radio" id="current-radio" checked>
                <label class="form-check-label" for="current-radio">Current location</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="location-radio" id="custom-radio">
                <label class="form-check-label" for="custom-radio">Custom location</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="location-radio" id="skip-radio">
                <label class="form-check-label" for="skip-radio">Skip</label>
            </div>
        </div>
        <div class="form-group" style="display: none" id="location-form-container">
            <label for="trip-location">Enter location coordinates (lattitude and longitude coordinates):</label>
            <input type="text" class="form-control" id="location-input" name="feature">
        </div>
        <button type="submit" class="btn btn-primary">Create Trip</button>
      </form>
</div>

<%- include ../partials/footer.ejs %>